body * {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
.wrapper {
  margin: 20px auto;
  width: 90vw;
  border: 1px solid #000;
}
.border {
  border-top: 3px solid #000;
}
h2,
h1 {
  padding: 60px;
  margin: 0;
}

footer {
  background-color: #0081b4;
  color: #fff;
  height: 20vh;
  text-align: center;
  padding: 20px;
}

:global .bg {
  background-color: rgb(233, 140, 106);
  color: #fff;
}
