// 초기화
@import 'reset';
// 폰트
@import 'font';
// 변수선언
@import 'variable';

/* 스크롤바 */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #0002a1;
}
::-webkit-scrollbar-thumb {
  background-color: #f49d1a;
  border-radius: 10px;
}

body {
  font-family: $pretendard;
  line-height: 1.5;
  text-transform: capitalize;
}
.wrapper {
  height: 100vh;
  background-color: lightskyBlue;
  padding: 100px;
}

main {
  .title {
    text-align: center;
    font-size: 3.1rem;
    font-weight: 800;
    margin-top: 100px;
    &::after {
      content: '';
      width: 60px;
      height: 2px;
      background-color: #000;
      display: block;
      margin: 50px auto;
    }
  }
}
