@charset "utf-8";

body {
  font-family: '나눔고딕','맑은 고딕',돋움,sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color:#222;
}

/***** main ******/
main > h1 {
  background-color: #594545;
  color:#fff;
  font-size: 32px;
  text-align: center;/* 컨텐츠 및 인라인 요소 중앙 정렬 */
}
/* section */
main > section {
  text-align: center;
  background-color: #efefef;
}
main > section > h3 {
  font-weight: normal;
  text-decoration: underline;
  font-size: 16px;
  color:#425F57;
}
main > section > .deco-color {
  color:red;
  font-size: 16px;
}
main > section > a {
  color:#fff;
  background-color: #FB2576;
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
}
main > section > a:hover {
  text-decoration: line-through;
  background-color: #425F57;
}
/* .container */
main > .container > h2 {
  text-align: center;
  text-decoration: underline;
  color:#425F57;
}
main > .container > section > h3 {
  background-color: orange;
  text-align: right;
}
/* main > .container > section > ul > .deco-bg { */
  main ul > .deco-bg {
  background-color: #FF8787;
}
/*
main > .container > section > ol > li > .deco-color {
  color: red;
}
*/
main .deco-color {
  /* 하위 선택자: 띄어쓰기로 작성. 기준 요소의 하위(자식, 자손)에 있는 선택자 
    main안에 .deco-color가 포함되기만 하면 적용
  */
  color:red;
}
main.deco-color {
  background-color: lightskyblue;
}
/* 종속 선택자: 띄어쓰기 없이 작성. main 요소가 가진 클래스 중에 deco-color 이름을 가진 요소 탐색 */