@import '../assets/style/variable.scss';

.kakaoMap {
  width: $width;
  margin: 0 auto;
  margin-bottom: 100px;
  .tabMenu {
    position: relative;
    padding-top: 50px;
    li {
      h2 {
        width: 50%;
        height: 50px;
        line-height: 50px;
        border-bottom: 3px solid #999;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        font-weight: 700;
        font-size: 1.3em;

        transition: 0.4s;
      }
      .tabBtn2 {
        left: 50%;
      }
      &.active h2 {
        display: block;
        border-bottom: 3px solid #000;
      }
      .kakaoBox {
        background-color: #ddd;
        display: none;
      }
      &.active .kakaoBox {
        display: block;
      }
    }
  }
}
