.mainService {
  .mainServiceInner {
    overflow: hidden;
    height: 40vw;

    .swiper {
      // height: 100%;
      overflow: visible;
      transition: 0.7s;
      transform: translateY(100px);
      opacity: 0;

      .serviceImg {
        height: 30vw;
        padding-bottom: 20px;
        box-shadow: 0px 2.9px 8.1px rgba(0, 0, 0, 0.05), 0px 9.6px 27.3px rgba(0, 0, 0, 0.08), 0px 43px 122px rgba(0, 0, 0, 0.1);
        transition: 0.4s;
        opacity: 0.4;

        &.swiper-slide-active {
          transform: scale(1.1);
          opacity: 1;
        }

        img {
          width: 100%;
          height: 20vw;
          object-fit: cover;
        }
        h3 {
          font-size: 1.2rem;
          font-weight: 600;
          padding: 20px 20px 0;
        }
        p {
          padding: 10px 20px 20px;
        }
      }

      &.active {
        transform: translateY(0);
        opacity: 1;
      }

      .swiper-horizontal > .swiper-pagination-bullets,
      .swiper-pagination-bullets.swiper-pagination-horizontal,
      .swiper-pagination-custom,
      .swiper-pagination-fraction {
        bottom: 30px;
      }
    }
  }
}
