.mainGallery {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-auto-rows: 23vw;
  h3 {
    font-size: 2rem;
    font-weight: 700;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    transform: translateY(-30px);
    opacity: 0;
  }

  // @each 반복변수 in 반복값, 반복값, 반복값 {
  //   #{$반복변수명} { }
  // }
  // @each $title, $size, im h1:2em, h2:1.5em, h3:1.3em {
  //   #{$title} {
  //     font-size: $size;
  //   }
  // }

  @each $num in 1, 2, 3, 4, 5, 6, 7 {
    .bg#{$num} {
      background: url('../assets/image/gallery#{$num}.jpg') no-repeat 50% / cover;
      overflow: hidden;
      &:hover h3 {
        opacity: 1;
        transform: translateY(0);
        /* background-color: rgba(255,255,255,.7); */
        /* filter: blur(5px); 해당 요소에 필터 적용 */
        backdrop-filter: grayscale(70%) blur(5px); /* 해당 요소 제외하고 필터 */
      }
    }
    .bg1 {
      grid-row: 1/ 3;
    }
    .bg4 {
      grid-column: 2 / 4;
    }
  }
}
