@charset "utf-8";

@keyframes mov1 {
    0% {
        transform: translateY(-5%);
    }
    50% {transform: translateY(5%);}
}

@keyframes mov2 {
    0%, 100% {
        transform: translateY(-5%);
    }
    50% {transform: translateY(5%);}
    
}